body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.spingif {
    margin: 6%;
}

.bulb {
    height: 15%;
    width: 15%;
}

h1 {
    font-size: 400%;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Baloo', cursive;
}

h3 {
    font-family: 'Baloo', cursive;
}

h4 {
    font-family: 'Baloo', cursive;
}

.top-container {
    margin-top: 5%;
}

.middle-container {
    background-color: rgb(43, 43, 43);
}

.pic {
    border-radius: 200px;
    margin-top: 1%;
}

.bottom-container {
    background-color: rgb(75, 75, 75);
}